.navigation {
	display: flex;
	position: fixed;
	top: 0px;
	width: 100%;
	padding: 10px 50px;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 13px;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
	transition: all 0.2s ease;
	.logo {
		display: flex;
		flex: 1;
		justify-content: flex-start;
	}
	.navigation-bar {
		flex: 3;
		z-index: 2;
	}
	.action-buttons {
		display: flex;
		flex: 1;
		justify-content: flex-end;
		align-items: center;
		gap: 25px;
		z-index: 2;
		p {
			padding: 0px;
			margin: 0;
		}
	}

	ul {
		padding: 10px;
		margin: 10px;
		list-style-type: none;
	}

	li {
		display: inline;
		margin: 0px 25px;
	}
	a {
		position: relative;
		text-decoration: none;
		color: black;
		padding: 10px 0px;
	}
	a::after {
		content: "";
		position: absolute;
		bottom: 0px;
		left: 0;
		height: 1px;
		width: 0%;
		background-color: black;
		transition: all 0.5s ease;
	}

	a:hover::after {
		width: 100%;
	}

	.active {
		font-weight: 600;
	}
	.active::after {
		content: "";
		position: absolute;
		bottom: 0px;
		left: 0;
		height: 1px;
		width: 100%;
		background-color: black;
	}
}

.navigation-bg {
	background-color: white;
	box-shadow: 0px 0px 10px rgb(230, 230, 230);
}
.hamburger-menu {
	display: none;
	z-index: 10;
	color: black;
}
.sidenav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	text-align: left;
	background-color: white;
	transition: all 0.3s ease-in-out;
	box-shadow: 0 0 10px rgb(230, 230, 230);
	display: none;

	.links {
		display: flex;
		flex-direction: column;

		padding: 80px 20px;
	}
}

@media only screen and (max-width: 768px) {
	.navigation {
		padding: 10px 20px;
	}
	.sidenav {
		display: block;
		z-index: 5;
		overflow-x: hidden;

		.links {
			overflow: hidden;
			white-space: nowrap;

			a {
				width: 100%;
				max-lines: 1;
				text-overflow: clip;
				font-size: 20px;
			}
		}
	}
	.hamburger-menu {
		display: flex;
		align-items: center;
		margin-right: 20px;
		text-align: left;
	}

	.navigation-bar {
		display: none;
	}
}
