$primary-color: black;
$secondary-color: grey;
$primary-font: 'Cinzel Decorative', cursive;
$secondary-font: 'Raleway', sans-serif;

.product-page-container{
    display: flex;
    flex-grow: 1;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;

    .images-container{
        flex: 1;
        overflow: hidden;
        display: grid;
        grid-template-columns: 20% 80%;
        gap: 20px;
        box-sizing: border-box;
        height: 75vh;
        #main-image{
            border: 1px solid black;
            
            overflow: hidden;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        #image-row{
            display: flex;
            flex-direction:column;
            gap: 20px;
        }
        #slide-show-img{
            aspect-ratio: 1;
            width: 100%; 
            border: 1px solid black;
        }
    }

    .product-details{
        flex: 1;
        text-align: left;
        height: 75vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        #product-name{
            font-family: $primary-font;
            font-size: 60px;
            margin-bottom: 20px;
        }
        #price{
            font-family: $secondary-font;
            font-weight: 500;
            font-size: 30px;
        }
        #description{
            font-size: 15px;
            font-family: $secondary-font;
            color: $secondary-color;
            max-width: 60%;
        }

        #details{
            display: grid;
            grid-template-columns: 100px auto;
            align-items: center;
            row-gap: 20px;
        }
        #label{
            color: grey;
            margin: 0;
        }
        #value{
            font-family:$secondary-font ;
            color: $primary-color;
            font-weight: 500;
            margin: 0;
            
        }
        .colour-list{
            display: flex;
            gap: 20px;
            align-items: center;
            .colour-container{
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: 1px solid black;
                position: relative;
                transition: all 0.3s ease;
                &.selected{
                    border: 1px solid black;
                    padding: 5px;
                    box-sizing: content-box;
                }
            }
        }
        
        .buttons{
            display: flex;
            gap: 10px;
        }
        #quantity{
            width: 20%;
            border: 1px solid black;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            
            button{
                background: none;
                border: none;
                height: 100%;
                flex: 1;
            }
        }
        #add-to-cart-button{
            width: 40%;
            height: 50px;
            background: none;
            border: 1px solid black;
            font-family: $secondary-font;
            background-color: black;
            color: white;
        }
    }

    

    }
