$primary-color: black;
$secondary-color: grey;
$primary-font: "Cinzel Decorative", cursive;
$secondary-font: "Raleway", sans-serif;
.button-container {
	border: 1px solid black;
	height: 50px;
	transition: 0.3s all ease;
	margin: 20px 0px;

	font-family: $secondary-font;
	&.primary {
		background-color: black;
		color: white;
		&:hover {
			background-color: transparent;
			color: black;
		}
	}

	&.secondary {
		background-color: transparent;
		&:hover {
			background-color: black;
			color: white;
		}
	}
}
//set styles for primary and secondary

@media screen and (max-width: 768px) {
	.button-container {
		font-size: 14px;
	}
}
