$secondary-font: "Raleway", sans-serif;
.product-card {
	background-color: transparent;
	background: none;
	width: 100%;

	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	transition: all 0.5s ease;
	animation: fall-in 0.5s ease;
	gap: 10px;
	font-family: $secondary-font;
	
	@keyframes fall-in {
		0% {
			opacity: 0;
			transform: translateY(-10px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
	#product-image {
		width: 100%;
		overflow: hidden;

		img {
			height: 100%;
			width: 100%;
			object-fit: contain;
			transition: 2s all ease;
		}
	}
	#product-details {
		display: flex;
		align-items: top;
		justify-content: space-between;
		text-align: left;
		box-sizing: border-box;
		font-size: 14px;
		gap: 20px;

		p {
			margin: 0;
		}
		#details {
			flex: 2;
			#category {
				color: grey;
				font-size: 12px;
				text-overflow: ellipsis;
				max-lines: 1;
			}
			#name {
				width: 11em;

				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				line-clamp: 1;
				max-lines: 1;
				font-weight: 500;

				&:hover {
					text-decoration: underline;
				}
			}
		}
		#price {
			display: flex;
			justify-content: end;
			align-items: flex-end;
			font-size: 15px;
			font-weight: 500;
			white-space: nowrap;
			max-lines: 1;
			flex: 1;
		}
	}
	&:hover {
		cursor: pointer;
	}
	&:hover #image {
		transform: scale(1.1);
	}
}

@media screen and (max-width: 768px) {
	#product-details {
		flex-direction: column;
		gap: 0px !important;

		#details {
			#category {
				font-size: 8px;
			}
			#name {
				font-size: 12px;

			}
			
		}
		#price {
			justify-content: start !important;
			align-items: start !important;
		}
	}
}
