.shop-container {
	min-height: 100vh;
	padding: 20px;
	font-family: "Cinzel Decorative", cursive;
	width: 100%;

	.shop-header {
		margin: 50px auto;
	}

	.items-container {
		display: grid;
		grid-template-columns: 1fr 4fr;
		gap: 50px;
	}

	.category-list {
		text-align: left;
		height: fit-content;
		padding: 10px 10px;
		box-sizing: border-box;
		position: sticky;
		top: 150px;
		.category-buttons {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;
			margin-top: 20px;
			#category {
				font-family: "Raleway", sans-serif;
				background: none;
				border: none;
				transition: all 0.2s ease;
			}
			.active-category {
				text-decoration: underline;
			}
		}
	}

	.shop-items-container {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		box-sizing: border-box;
	}
}

@media screen and (max-width: 1024px) {
	.shop-container {
		.items-container {
			display: flex;
			flex-direction: column;
		}

		.category-list {
			position: unset;
			padding: 0;
			.category-buttons {
				flex-direction: row;
				gap: 20px;
				overflow: scroll;
				#category {
					padding: 5px 10px;
					border: 1px solid black;
					border-radius: 20px;
					background: unset;
				}
				.active-category {
					background: black !important;
					color: rgb(250, 249, 248);
				}
			}
			.category-buttons::-webkit-scrollbar {
				display: none;
			}
		}

		.shop-items-container {
			grid-template-columns: repeat(2, 1fr);
		}
	}
}

@media screen and (max-width: 768px) {
	.shop-container {
		.category-list {
			h3 {
				font-size: 16px;
			}
			.category-buttons {
				font-size: 14px;
			}
		}
	}
}
