$primary-color: black;
$secondary-color: grey;
$primary-font: "Cinzel Decorative", cursive;
$secondary-font: "Raleway", sans-serif;
.cart-container {
	padding: 40px 0;
	width: 75vw;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	gap: 50px;

	.cart-header{
		margin: 50px auto;
	}
	h1 {
		font-family: $primary-font;
	}
	.cart-table-container {
		position: relative;
		display: flex;
		flex-grow: 1;
		gap: 100px;
		.cart-table {
			flex: 3;
			width: 100%;
			text-align: left;

			#cart-item-link {
				text-decoration: none;
				color: black;
			}

			#empty-cart-message {
				font-family: $secondary-font;
				
				p {
					color: $secondary-color;
				}
			}
		}
		.order-summary {
			flex: 2;
			width: 100%;
			padding: 30px;
			box-sizing: border-box;
			display: block;
			float: left;
			position: sticky;
			top: 0;
			background-color: white;
			font-family: $secondary-font;
			p#title {
				text-align: center;
				font-size: 1.5rem;
				margin-bottom: 50px;
			}
			.checkout-buttons {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 20px;
				margin-bottom: 20px;
				a {
					display: flex;
					flex: 1;
					border: 1px solid black;
					text-decoration: none;
					color: black;
					height: 50px;
					padding: 0;
					align-items: center;
					justify-content: center;
					transition: 0.3s all ease;

					&:hover {
						color: white;
						background-color: black;
					}
				}
				a#primary {
					background-color: black;
					color: white;

					&:hover {
						color: black;
						background-color: transparent;
					}
				}
			}
			.info {
				text-align: left;
				font-size: 0.8rem;
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.cart-container {
		margin: 50px 0 0 0;
		width: 100%;
		.cart-table-container {
			flex-direction: column;
			justify-content: space-between;

			.cart-table {
				.table-rows {
					padding: 0 12px;
					box-sizing: border-box;
				}
			}
			.order-summary {
				#title {
					font-size: 16px;
				}
			}
		}
	}
}

@media screen and (max-width: 425px) {
	.cart-container {
		.cart-table-container {
			.cart-table{
				#empty-cart-message{
					text-align: center;
				}
			}
			.order-summary {
				.checkout-buttons {
					display: flex;
					flex-direction: column-reverse;
					flex: 1;
					a {
						flex: unset;
						width: 100%;
						font-size: 14px;
					}
				}
			}
		}
	}
}
