$primary-color: black;
$secondary-color: grey;
$primary-font: "Cinzel Decorative", cursive;
$secondary-font: "Raleway", sans-serif;
.account-container {
	width: 75%;
	padding: 50px 100px;
	box-sizing: border-box;
	animation: fade-in 0.3s ease;
	h1 {
		font-family: $primary-font;
	}

	.grid {
		margin: 50px 0px;

		.actions {
			width: 25%;
			display: block;
			float: left;
			text-align: left;
			position: sticky;
			top: 100px;
			margin-right: 100px;
			.action-item {
				height: 50px;
				display: flex;
				align-items: center;
				padding: 10px;
				justify-content: space-between;

				a {
					display: block;
					text-decoration: none;
					color: black;
					width: 100%;
				}

				&:hover {
					font-weight: 500;

					svg {
						transform: translateX(2px);
						transition: all 0.3s ease;
					}
				}
			}

			.action-item:nth-child(odd) {
				background-color: white;
			}
			button {
				width: 100%;
			}

			.active {
				font-weight: 500;
			}
		}
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.25;
	}
	100% {
		opacity: 1;
	}
}

@media screen and (max-width: 768px) {
	.account-container {
		width: 100%;
		padding: 50px 2em;

		.grid {
			display: flex;
			flex-direction: column-reverse;

			.actions {
				width: 100%;
				position: relative;
				top: unset;
				margin-top: 2rem;
				padding-top: 2rem;
				border-top: 1px solid rgb(230, 230, 230);
			}
		}
	}
}
