$primary-color: black;
$secondary-color: grey;
$primary-font: "Cinzel Decorative", cursive;
$secondary-font: "Raleway", sans-serif;

.login-form-container {
	width: 20vw;
	display: flex;
	flex-direction: column;
	font-family: $primary-font;
}
#forgot-password {
	background: none;
	border: none;
	text-align: right;
	text-decoration: underline;
	font-family: $secondary-font;

	cursor: pointer;
}

@media screen and (max-width: 1024px) {
	.login-form-container {
		width: 100%;
	}
}

@media screen and (max-width: 768px) {
	#hidden {
		display: none;
	}
}
